<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-3 height100 valign-wrapper">
                <div class="modal-content" ng-show="!passmode && !checkSecondPass && !OTP && !confirmations">
                    <div class="modal-header modal-iconed">
                        <!-- <div class="close-modal" ng-click="close()">
                            <span class="sr-only">
                                <translate>Close modal</translate>
                            </span>
                        </div> -->
                        <span class="modal-log">DDK</span>
                    </div>

                    <div class="popupHeight">
                        <div class="modal-header clearfix">
                            <div>
                                <h2>{{'TERMS AND CONDITIONS DDK'|translate}}</h2>
                            </div>
                        </div>
                        <div class="agree">
                            <p>USERS ARE ADVISABLE TO READ CAREFULLY THESE TERMS AND CONDITIONS. BY CLICKING ACCEPT,
                                AND BY ACCESSING, USING OUR SERVICES, REGISTERING AS USER, YOU ARE AGREE TO BE BOUND,
                                COMPLIED AND ACCEPT THESE TERMS AND CONDITIONS AND OTHER TERMS PROVIDED AND/OR RELATED
                                TO DDK AND YOU ARE AGREE THAT YOU HAVE READ AND UNDERSTOOD ALL THE TERMS AND CONDITIONS
                                CONTAINED IN THIS DDK SITE AND/OR AGREEMENT.
                            </p>
                            <h2>1. OUR SERVICES</h2>
                            <p>By creating a user account to use the services (User Account), you expressly represent
                                and warrant the following:
                            </p>
                            <ul>
                                <li>i) You are at least 18 years of age, with full legal capacity to accept this User
                                    Agreement and enter into any transaction involving the DDkoin (hereinafter referred
                                    to as the “DDK”).</li>
                                <li>ii) Depending on your country of residence, you may not be eligible to use the DDK
                                    Site
                                    or all the services. It is your responsibility to comply with the rules and laws
                                    applicable to your country of residence or country from which you are accessing in
                                    this Site and/or wallet and/or platform and/or Services.</li>
                                <li>iii) You use and access DDK Services only in your own name and/or for yourself.
                                    However,
                                    if you are acting on behalf of legal entity, you must ensure that you are
                                    authorised by the legal entity to represent on behalf and/or enter into
                                    transactions on behalf of the legal entity.
                                </li>
                                <li>iv) Our Services may evolve over time. This means we may apply charges, replace or
                                    discontinue (temporarily or permanently) our Services at any time for any
                                    reasonable cause with two days’ notice or without notice in case of a Force
                                    Majeure. In this case, you may be prevented from accessing or using our Services.
                                    If, in our sole discretion, we decide to permanently discontinue our Services, we
                                    will provide you with a notice via our website, and any other social media own by
                                    us or any other means of communication we deem appropriate.
                                </li>
                            </ul>
                        </div>


                        <div class="agree">
                            <h2>2. YOUR RESPONSIBILITIES</h2>
                            <p>
                                You are responsible for your own security, control and confidentiality of your device
                                access, your information on User Account including your passwords, paraphrases, private
                                keys or other codes associated with DDK services and any activity occurring with these
                                DDK Site and/or wallet and/or platform. The loss of the information will be resulted to
                                unauthorize access to this Site and/or Wallet and/or Platform. We are not responsible
                                with your loss and/or theft of any DDK failing to comply with our instructions.
                            </p>
                            <p>You are also acknowledge and agree that you will not use your User Account or the
                                Services to perform any criminal activity of any sort, including, without limitation,
                                money laundering, illegal gambling operations, terrorist financing, fraud, abusive
                                activity, adult content or services, unfair, predatory or deceptive services,
                                intellectual property infringement, or malicious hacking (the “Prohibited Use”). You
                                further acknowledge and agree that you will not use methods to conceal the location
                                from which you access the Site, and that you will disclose to DDK your accurate and
                                true location, upon request.
                            </p>
                        </div>

                        <div class="agree">
                            <h2>3. RISK</h2>
                            <p>
                                You understand and accept the risks in connection with the use of the Wallet app and/or
                                using the Services as set forth above and hereinafter. In particular, but not limited
                                to, you understand the inherent risks listed hereinafter:
                            </p>
                            <p>a)
                                Risk of software weaknesses: You understand and accept that the underlying software
                                application and/or software platform and/or system is still in an early development
                                stage and unproven, there is no warranty that the Services will be uninterrupted or
                                error-free and there is an inherent risk that the software could contain weaknesses,
                                vulnerabilities or bugs causing, inter alia, the complete loss of DDK.
                            </p>
                            <p>b)
                                Regulatory risk: You understand and accept that blockchain technology allows new forms
                                of interaction and that it is possible that certain jurisdictions will apply existing
                                regulations on, or introduce new regulations addressing, blockchain technology-based
                                applications, which may be contrary to the current setup of DDK and which may, inter
                                alia, result in substantial modifications of the DDK Services, including its
                                termination.
                            </p>
                            <p>c)
                                Risk of loss of private key or passphrase(s): DDK Wallet can only be accessed by using
                                a DDK Wallet passphrase with the possibility of using a second passphrase. You
                                understand and accept that if your private key, passphrase or second passphrase
                                respectively got lost or stolen, the DDK within your DDK Wallet will be unrecoverable
                                and will be permanently lost.
                            </p>
                            <p>d)
                                Risk of voting attacks: You understand and accept that the blockchain used for by DDK
                                is susceptible to voting attacks, including but not limited to majority voting power
                                attacks, “selfish-voting” attacks, and race condition attacks. Any successful attacks
                                present a risk to the DDK Services.
                            </p>
                            <p>e)
                                Risk of delegate attacks: You understand and accept that the blockchain used for by DDK
                                may be susceptible to delegate attacks, including but not limited to double-spending
                                attacks, majority delegate attacks, and race condition attacks. Any successful attacks
                                present a risk to the DDK Services.
                            </p>
                        </div>


                        <div class="agree">
                            <h2>4. LIMITATIONS OF LIABILITY, RELEASE AND IDEMNIFICATION</h2>
                            <p>
                                THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY
                                REPRESENTATION OR WARRANTY, WHETHER EXPRESS, IMPLIED OR STATUTORY. DDK SPECIFICALLY
                                DISCLAIMS ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR
                                PURPOSE AND/OR NON-INFRINGEMENT. DDK DOES NOT MAKE ANY REPRESENTATIONS OR WARRANTIES
                                THAT YOUR ACCESS TO THE DDK SITE, THE SERVICES, WALLET OR ANY PART OR MATERIALS MADE
                                AVAILABLE THEREIN, WILL BE ERROR FREE, CONTINUOUS, UNINTERRUPTED OR ACCURATE.
                            </p>
                            <p>
                                IN NO EVENT WILL THE DDK, ITS AFFILIATES OR SERVICE PROVIDERS, OR ANY OF THEIR
                                RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES, OR REPRESENTATIVES,
                                BE LIABLE TO YOU OR ANYONE ON YOUR BEHALF, FOR ANY INDIRECT, SPECIAL, INCIDENTAL,
                                INTANGIBLE, OR CONSEQUENTIAL DAMAGES, INCLUDING WITHOUT LIMITATIONS, LOSS OF REVENUES
                                OR DATA, WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE,
                                ARISING OUT OF OR IN CONNECTION WITH AUTHORIZED OR UNAUTHORIZED USE OF THE DDK SITE OR
                                SERVICES OR THIS USER AGREEMENT. THIS MAY INCLUDE, WITHOUT LIMITATION, VIRUSES, ERRORS,
                                OR TECHNICAL DISRUPTIONS, INDIRECTLY CAUSED, WHICH MAY AFFECT THE DDK SITE, OUR
                                SERVICES, A TRANSACTION, OR THIS USER AGREEMENT.
                            </p>
                            <p>
                                WE SHALL ONLY BE LIABLE TO YOU FOR LOSS OR DAMAGE CAUSED DIRECTLY AND REASONABLY
                                FORESEEABLE BY OUR BREACH OF THESE TERMS AND CONDITIONS AND OUR LIABILITY IN THESE
                                CIRCUMSTANCES WILL BE LIMITED TO AN AMOUNT THAT IS NO GREATER THAN THE COMBINED VALUE
                                OF THE DIGITAL CURRENCY. WHERE WE ARE CONSIDERING A SPECIFIC CLAIM RELATING TO A
                                SPECIFIC TRANSACTION, THIS SUM SHALL BE FURTHER LIMITED TO THE AMOUNT OF THE
                                TRANSACTION IN DISPUTE.
                            </p>
                            <p>
                                DDK specifically makes no warranties, representations or guarantees regarding the time
                                required to complete processing any request provided by you, including electronic debit
                                or credit using credit cards, bank accounts, or cheques, which are dependent various
                                factors beyond DDK’s control.
                            </p>

                            <h2>a) RELEASE</h2>
                            <p>
                                Any dispute between you and any other user of the DDK Site and/or platform and/or
                                wallet shall be exclusively resolved between you and such user. You hereby release DDK,
                                its affiliates and service providers, and each of their respective officers, directors,
                                agents, joint ventures, employees, and representatives from any and all claims, demands
                                and damages (actual and consequential) of every kind and nature arising out of or in
                                any way connected with such dispute.
                            </p>
                            <h2>b) INDEMNIFICATION
                            </h2>
                            <p>
                                You agree to defend, indemnify, and hold DDK, its affiliates, employees, directors,
                                representatives and service providers, and each of its or their respective officers,
                                directors, agents, joint ventures, employees, and representatives, harmless from any
                                claim or demand (including legal fees, damages, costs, fines, fees, or penalties
                                suffered by DDK, arising out of or related to:
                                <li> your breach of this Agreement;</li>
                                <li> your use of the Site or Services; or</li>
                                <li> your violation of any applicable law, rule, regulation, or rights of any third
                                    party.</li>
                            </p>
                        </div>


                        <div class="agree">
                            <h2>5. PERSONAL DATA PROTECTION</h2>



                            <p>
                                You acknowledge that any personal information provided by you in relation to your User
                                Account or Transaction will be collected, used, or disclosed in accordance with the
                                Personal Data Protection Act 2012 and Personal Data Protection Regulations 2014
                                governed by Singapore Law.


                            </p>

                        </div>
                           <div class="agree">
                            <h2>6. MODIFICATION, AMENDMENT OR TERMINATION OF THE SITE OR SERVICES
                            </h2>
                            <p>
                                Notwithstanding the abovementioned, you acknowledge and agree that DDK may, without
                                notice and with immediate effect, suspend or terminate the operation of the Site or the
                                provision of any part of the Services offered therein, in the event such operation or
                                provision becomes illegal or is subject to demand by any competent authority, or is
                                under any risk or exposure to any claims that are adverse or detrimental to the Site or
                                Services. You further acknowledge and agree that DDK reserves the right to modify,
                                suspend, or terminate the provision of any Service or content, in whole or in part, at
                                any time, without notice.
                            </p>
                            <p>
                                You acknowledge and agree that DDK may also amend or update this Agreement, the DDK
                                Site, wallet and/or platform at any time, at its sole discretion. The amendment of this
                                Agreement will be put in the DDK website and/or any other means of communication and it
                                shall be deemed appropriate notification and/or announcement to the user. User are
                                responsible to update with all the amendment and/or announcement regarding the
                                amendment at the DDK website.
                            </p>
                            <p>
                                If you do not agree with any such modification, you should immediately cease your use
                                of the Services and terminate your User Account. You agree that DDK shall not be liable
                                to you or any third party for any modification or termination of the Services, or
                                suspension, or termination of your access to the Services, except to the extent
                                otherwise expressly set forth herein.
                            </p>
                        </div>

                        <div class="agree">
                            <h2>7. TAX</h2>
                            <p>
                                You are exclusively responsible to inquire with respect to the taxes applicable to your
                                Transactions on the Site. We are not, and will no event, be deemed as providing any tax
                                advice or consultation services. You acknowledge that it is your responsibility to
                                report and remit the taxes payable to the appropriate authorities.
                            </p>
                        </div>

                        <div class="agree">
                            <h2>8. ENTIRE AGREEMENT</h2>
                            <p> This Agreement herein comprise the entire understanding and agreements between you and
                                DDK as to the subject matter hereof, and supersedes any and all prior discussions,
                                agreements and understandings of any kind (including, without limitation, any prior
                                versions of this User Agreement), and every nature between and among you and DDK.
                            </p>
                        </div>



                        <div class="agree">
                            <h2>9. RELATIONSHIP OF THE PARTIES
                            </h2>
                            <p> Both you and DDK are independent contractors, and nothing in this Agreement shall be
                                deemed to create between you and DDK any other form of relationship, whereby the
                                parties shall not be deemed to be partners, joint ventures or agents. You are therefore
                                not authorized to make any obligations on our behalf.

                            </p>
                        </div>

                        <div class="agree">
                            <h2>10. ASSIGNMENT

                            </h2>
                            <p> You may not assign any rights or licenses granted under this Agreement. The right to use
                                your User Account is exclusively for your personal use. DDK reserves the right to
                                assign our rights without restriction, including, without limitation, to any of DDK’s
                                affiliates or subsidiaries or to any successor in interest of any business associated
                                with the Services. Any attempted transfer or assignment in violation hereof shall be
                                null and void. Subject to the foregoing, this Agreement will bind and inure to the
                                benefit of the parties, their successors and permitted assigns.


                            </p>
                        </div>


                        <div class="agree">
                            <h2>11. SEVERABILITY


                            </h2>
                            <p> If any provision of this User Agreement shall be determined to be invalid or
                                unenforceable under any rule, law or regulation, or any governmental agency, local,
                                state, or federal, such provision will be changed and interpreted to accomplish the
                                objectives of the provision to the greatest extent possible under any applicable law
                                and the validity or enforceability of any other provision of this User Agreement shall
                                not be affected.
                            </p>
                        </div>


                        <div class="agree">
                            <h2>12. GOVERNING LAW AND DISPUTES
                            </h2>
                            <p> This User Agreement shall be governed by, and is to be construed in accordance with the
                                laws of the Republic of Singapore. You agree to submit all disputes arising out of or
                                in connection with this User Agreement to the exclusive jurisdiction of the Singapore
                                courts.
                            </p>
                        </div>

                           <div class="agree">
                            <h2>13. FORCE MAJEURE
                            </h2>
                            <p> DDK shall not be liable for delays, failure in performance or interruption of the
                                Services, which results directly or indirectly from any cause or condition beyond its
                                reasonable control, including, but not limited to, any delay or failure due to any act
                                of God, act of civil or military authorities, act of terrorists, civil disturbance,
                                war, strike or other labour dispute, fire, interruption in telecommunications or
                                Internet services or network provider services, failure of equipment and/or software,
                                other catastrophe or any other occurrence which is beyond DDK’s reasonable control and
                                shall not affect the validity and enforceability of any remaining provisions.
                             </p>
                        </div>
                    </div>


                    <div class="modal-body bordered">
                        <ul class="nav modal-buttons pull-right">
                            <!-- <li>
                                <input type="submit" value="{{'Cancel' | translate}}" ng-click="close()" class="btn-flat" />
                            </li> -->
                            <li>
                                <input type="submit" value="{{'Agree' | translate}}" ng-click="agreeConfirmation()" class="btn-flat blue-link"
                                    />
                                    <!-- ng-class="{'disabled': sending}" ng-disabled="sending" -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>