<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content" ng-show="!passmode && !checkSecondPass">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()">
                            <span class="sr-only">
                                <translate>Close modal</translate>
                            </span>
                        </div>
                        <span class="modal-log">DDK Coin</span>
                    </div>
                    <div class="modal-header clearfix">
                        <div>
                            <h2>{{'Referral Link'|translate}}</h2>
                        </div>
                        <div>
                            <translate>Please find below your referral link.</translate>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="field-padding">
                                <div class="input-field">
                                    <input id="referralLink" type="text" ng-model="refLink">
                                    <label for="referralLink">
                                        <translate>Referral Link</translate>
                                    </label>
                                    <button class="btn-flat btn-copy blue-link pull-right p-r-0 referral-link-btn" clipboard data-clipboard-target="#referralLink" clipboard-success="clipboardSuccess(e);" clipboard-error="clipboardCommand(e);">
                                        <i class="small material-icons">assignment</i>
                                        <translate>Copy Referral Link</translate>
                                    </button>
                                </div>

                                <div class="input-field">
                                    <input id="referralEmail" type="text" ng-model="refEmail">
                                    <label for="referralEmail">
                                        <translate>Enter Email Id</translate>
                                    </label>
                                </div>
                                <!-- <span class="fee-text flat-text pull-right" ng-show="fAmount">
                                    <translate>Fee: {{fee | ETPFilter}} ETP</translate>
                                </span>
                                <span class="pass-error" ng-show="errorMessage.fAmount">{{errorMessage.fAmount}}</span> -->
                            </div>
                            <!-- <p class="error-container" ng-show="errorMessage.recipient">
                                <span class="pass-error">{{errorMessage.recipient}}</span>
                            </p> -->
                            <!-- <p class="error-container" ng-show="errorMessage.fromServer">
                                <span class="pass-error">{{errorMessage.fromServer}}</span>
                            </p> -->
                            <!-- <input type="submit" ng-show="false"> -->
                        </form>
                    </div>
                    <div class="modal-body bordered">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="close()">
                                    <translate>Cancel</translate>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="blue-link">
                                    <translate>Send Email</translate>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>