<!-- <div class="container-fluid top-bar" -->





<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> -->

<!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div>
  </div>
</div> -->




<!-- <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Transaction Error: Account does not have enough DDK due to freeze amount: DDK12248109380105258184 u_balance: 0 u_totalFrozeAmount : 0 amount:  1.0001</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul> -->








<div class="app-modal valign-wrapper">
  <div class="container height100">
      <div class="row height100">
          <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
              <div class="modal-content">
                  <div class="modal-content">
                      <div class="modal-header modal-iconed">
                          <div class="close-modal" ng-click="close()">
                              <span class="sr-only">
                                  <translate>Close modal</translate>
                              </span>
                          </div>
                          <span class="modal-log">DDK</span>
                      </div>
                      <div class="modal-header clearfix">
                          <div>
                              <h2>{{label}}</h2>
                          </div>
                      </div>
                      <div class="modal-body">
                          <!-- <form ng-submit="forgingState()"> -->
                              <form>
                              <div class="field-padding">
                                  <span class="pass-error" style="margin-top: 20px; font-size: 14px;" ng-show="error">{{error}}</span>
                              </div>
                              <input type="submit" ng-show="false">
                          </form>
                      </div>
                      <div class="modal-body bordered">
                          <ul class="nav modal-buttons pull-right">
                              <li>
                                  <a href="#" ng-click="close()">
                                      <translate>OK</translate>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>






