#account {
  #paddingFix {
    .button {
      margin: 0px;
      padding: 15px 13px 13px;

      &.label {
        width: 235px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.forging {
          width: inherit;
        }
      }
    }
  }

  .raw-buttons {
    #buttons {
      display: inline-block;

      .container {
        display: inline-block;
      }
    }
    .send, .free {
      width: 141px;
    }
  }

  #transactions {
    margin-bottom: 20px;
  }
}

.account-block {
  color: @white;
  font-size: @content-text;
  padding: 17px 8px;
  .icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
  }
  .name {
    letter-spacing: 0.5px;
    padding: 5px 0;
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .address {
    display: block;
    margin: 0 auto;
    padding: 5px 0 0;
    text-align: center;
  }
}
.agreeConfirmation{
  [type=checkbox].filled-in:checked+label:after{
    border: 2px solid #076da5;
    background-color: #0187d1;
  }
}

.agreeConfirmation{
  [type=checkbox].filled-in:not(:checked)+label:after{
    border: 2px solid #337ab7!important;
  }
}


/* AgreeConfirmation Modal */
.agree{
  padding: 15px;
  p{
line-height: 20px;
    margin-bottom: 15px;
}
 h2{
  margin-bottom: 15px;
 }
 li{
  margin-bottom: 15px;
  line-height: 20px;
 }
}