<div class="top-margin"></div>
<!--Top Info -->
<div class="row clearfix">
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 dashboard-info">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/plug.png" width="32"> -->
            <i class="icofont icofont-addons st-icon"></i>
          <!-- </span> -->
        </span>
        </span>
        <div class="info-box-content">
          <span class="info-box-number">{{totalSupply || 0}} DDK</span>
          <br>
          <span class="info-box-text">{{'Total Supply'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 pl7 dashboard-info pr15-none">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/power-cord.png" width="32"> -->
            <i class="icofont icofont-pie-chart st-icon"></i>
          <!-- </span> -->
        </span>
        <div class="info-box-content">
          <span class="info-box-number">{{(circulatingSupply || 0).toFixed(2)}} DDK</span>
          <br>
          <span class="info-box-text">{{'Circulating Supply'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pl7 pr7 dashboard-info pl15-none">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/users-group.png" width="32"> -->
            <i class="icofont icofont-users st-icon"></i>
          <!-- </span> -->
        </span>
        <div class="info-box-content">
          <span class="info-box-number">{{totalCount}}</span>
          <br>
          <span class="info-box-text">{{'Token Holders'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pl7 pr0 dashboard-info">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/money-bag-with-dollar-symbol.png" width="32"> -->
            <i class="icofont icofont-money-bag st-icon"></i>
          <!-- </span> -->
        </span>
        <div class="info-box-content">
          <span class="info-box-number">
            <span class="strong">{{balanceToShow[0] || 0}}
              <span class="small">{{balanceToShow[1]}}</span>
            </span>&nbsp;DDK</span>
          <br>
          <span>({{((availableBalanceDec/circulatingSupply)*100).toFixed(2)}}%)</span>
          <span class="info-box-text">{{'Your DDK Balance'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 dashboard-info">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/snowflake.png" width="32"> -->
            <i class="icofont icofont-snow-alt st-icon"></i>
          <!-- </span> -->
        </span>
        <div class="info-box-content">
          <span class="info-box-number">{{stakeBalanceToShow[0] || 0}}
            <span class="small">{{stakeBalanceToShow[1]}}</span>
          </span>&nbsp; DDK</span>
          <br>
          <span>({{totalDDKStaked?((myDDKFrozen/totalDDKStaked)*100).toFixed(2):0}}%)</span>
          <span class="info-box-text">{{'Your DDK Frozen'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 pl7 dashboard-info pr15-none">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/share-connection-sing.png" width="32"> -->
            <i class="icofont icofont-brand-slideshare st-icon"></i>
          <!-- </span> -->
        </span>
        <div class="info-box-content">
          <span class="info-box-number">{{totalConnected}}</span>
          <br>
          <span class="info-box-text">{{'Total Connected'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pr7 pl7 dashboard-info pl15-none">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/icon.png" width="32"> -->
            <i class="icofont icofont-holding-hands st-icon"></i>
          <!-- </span> -->
        </span>
        <div class="info-box-content">
          <span class="info-box-number">{{countStakeholders}}</span>
          <br>
          <span class="info-box-text">{{'Total Stakeholders'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 pl7 dashboard-info">
    <div class="panel widget widget-brown">
      <div class="panel-body">
        <span class="icon-container">
          <!-- <span class="info-box-icon bg-blue"> -->
            <!-- <img src="images/moneylock.png" width="32"> -->
            <i class="icofont icofont-ui-lock st-icon"></i>
          <!-- </span> -->
        </span>
        <div class="info-box-content">
          <span class="info-box-number">{{totalStakeBalanceToShow[0] || 0}}
            <span class="small">{{totalStakeBalanceToShow[1]}}</span>
          </span>&nbsp; DDK</span>
          <br>
          <span class="info-box-text">{{'Total Stake Amount'|translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Top Info -->

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   
    <div class="panel-default custom-panel-default paginated">
      <div class="panel-heading pr" ng-class="{'cursor': transactions.length}" eat-click-if="!transactions.length"
        ui-sref="main.transactions">
        <h2>{{'Latest Transactions'|translate}}</h2>
        <div class="plain-text" ng-show="transactions.length">{{'View History'|translate}}</div>
      </div>
      <div class="table-responsive">
        <table class="table" id="transactions" ng-if="transactions.length">
          <thead>
            <tr class="head">
              <th class="hide-in-1400">
                <translate>Transaction ID</translate>
              </th>
              <th class="padding-in-1400">
                <translate>Sender</translate>
              </th>
              <th>
                <translate>Recipient</translate>
              </th>
              <th>
                <translate>Type</translate>
              </th>
              <th>
                <translate>Time</translate>
              </th>
              <th>
                <translate>Amount (Fee)</translate>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions">
              <td class="hide-in-1400">

                <a href="#" ng-click="transactionInfo(transaction)" class="word-break-xs">{{transaction.id}}</a>
              </td>
              <td ng-if="transaction.senderName" class="padding-in-1400">
                <a href="#" ng-click="userInfo(transaction.senderId)" class="word-break-xs">{{transaction.senderName}}</a>
              </td>
              <td ng-if="!transaction.senderName" class="padding-in-1400">
                <a href="#" ng-click="userInfo(transaction.senderId)" class="word-break-xs">{{transaction.senderId}}</a>
              </td>
              <td ng-if="transaction.recipientName" ng-show="(transaction.type &lt; 1) || (transaction.type &gt; 9)">
                <a href="#" ng-click="userInfo(transaction.recipientId)" class="word-break-xs">{{transaction.recipientName}}</a>
              </td>
              <td ng-if="!transaction.recipientName" ng-show="(transaction.type &lt; 1) || (transaction.type &gt; 9)">
                <a href="#" ng-click="userInfo(transaction.recipientId)" class="word-break-xs">{{transaction.recipientId}}</a>
              </td>
              <td ng-show="(transaction.type &gt; 0) && (transaction.type &lt; 10)"></td>

              <td class="padding-in-1400">
                <!----------------------Icons of Vote and Stake---------------------------->

                <i ng-if="transaction.type==40 && transaction.asset.airdropReward.totalReward > 0" class="vertical-text mdi-image-brightness-7"
                  ng-click="SpecifictransactionInfoModal(transaction,2)"></i>
                <i ng-if="transaction.type==60 && (transaction.asset.reward > 0 || transaction.asset.airdropReward.totalReward > 0 || transaction.asset.unstake < 0)"
                  class="vertical-text mdi-social-person-add" ng-click="SpecifictransactionInfoModal(transaction,1)"></i>

                {{transaction.trsName}}
              </td>
              <td>
                {{transaction.timestamp | timeAgoFilter: false}}
              </td>

              <td ng-show="transaction.type != 40">
                <i ng-if="transaction.recipientId==transaction.senderId" class="vertical-text mdi-image-brightness-1 cloud-font"></i>
                <i ng-if="transaction.recipientId!=transaction.senderId && transaction.type != 40" class="vertical-text"
                  ng-class="{'mdi-content-add-circle dark-meent-font': transaction.recipientId==address, 'mdi-content-remove-circle dark-red-font': transaction.senderId==address}"></i>
                <i ng-if="transaction.type == 40" class="vertical-text mdi-image-brightness-1 cloud-font"></i>
                {{transaction.amount | DDKFilter}} ({{transaction.fee | DDKFilter}})
              </td>

              <td ng-show="transaction.type == 40">
                <i class="vertical-text mdi-image-brightness-1 cloud-font"></i>
                {{transaction.stakedAmount | DDKFilter}} ({{transaction.fee | DDKFilter}})
              </td>

            </tr>
          </tbody>
        </table>
        <!-- <div align="right">
          <div class="text-center" ng-if="transactions.length">
            <a class="btn btn-blue-nav waves-effect waves-light m15" href="https://{{ExplorerHost}}/#/user-info/{{address}}"
              target="_blank">
              <translate>View in Explorer</translate>
            </a>
          </div>
        </div> -->
        <div class="panel-body empty-body" ng-if="!transactions.length">
          <!-- <div class="logo-grey"></div> -->
          <p class="empty-state-text">
            {{'You have not made any transactions yet.'|translate}}
          </p>
        </div>
      </div>
    </div>
  </div>