<div class="row clearfix">
    <div class="col-xs-12">
        <div class="dapp-info clearfix">
            <div class="cover-container">
                <img ng-if="!dapp.icon" class="cover-image" src="images/dappIcon.png">
                <img ng-if="dapp.icon" class="cover-image" ng-src="{{dapp.icon}}">
            </div>
            <div class="info-container">
                <div class="document-title">
                    {{dapp.name}}
                </div>
                <div class="subtitle-container">
                </div>
                <div class="details-info-divider"></div>
                <div ng-show="!loading && !installed && !isInstalling() && !isUninstalling() && !isLaunched()" class="details-actions">
                    <div>
                        <a class="btn btn-sky-blue waves-effect waves-light" ng-click="installDapp()" ng-switch on="dapp.type">
                            <i class="mdi-file-file-download left"></i>
                            <span ng-switch-default>
                                <translate>INSTALL</translate>
                            </span>
                            <span ng-switch-when="1">
                                <translate>DOWNLOAD</translate>
                            </span>
                        </a>
                    </div>
                    <!-- <a class="btn btn-white waves-effect left-margin-14">SHARE</a> -->
                    <a ng-show="dapp.link" href="{{dapp.link}}" target="_blank" class="btn btn-white waves-effect pull-right source">
                        <translate>SOURCE CODE</translate>
                    </a>
                </div>
                <div ng-show="!loading && installed && !isInstalling() && !isUninstalling() && !isLaunched()" class="details-actions">
                    <a class="btn btn-sky-blue waves-effect waves-light" ng-click="runDApp()" ng-switch on="dapp.type">
                        <i class="mdi-file-file-download left"></i>
                        <span ng-switch-default>
                            <translate>LAUNCH</translate>
                        </span>
                        <span ng-switch-when="1">
                            <translate>DOWNLOAD</translate>
                        </span>
                    </a>
                    <!-- <a class="btn btn-white waves-effect left-margin-14">SHARE</a> -->
                    <a ng-show="dapp.git" href="{{dapp.githublink}}" target="_blank" class="btn btn-white waves-effect pull-right source">
                        <translate>SOURCE CODE</translate>
                    </a>
                </div>
                <div ng-show="!isInstalling() && !isUninstalling() && isLaunched()" class="details-actions">
                    <a class="btn btn-sky-blue waves-effect waves-light" ng-click="openDapp(dapp.type)" ng-switch on="dapp.type">
                        <i class="mdi-file-file-download left"></i>
                        <span ng-switch-default>
                            <translate>OPEN</translate>
                        </span>
                        <span ng-switch-when="1">
                            <translate>DOWNLOAD</translate>
                        </span>
                    </a>
                    <!-- <a class="btn btn-white waves-effect left-margin-14">SHARE</a> -->
                    <a ng-show="dapp.git" href="{{dapp.githublink}}" target="_blank" class="btn btn-white waves-effect pull-right source">
                        <translate>SOURCE CODE</translate>
                    </a>
                </div>
                <div ng-show="(isInstalling() || isUninstalling()) && !isLaunched()" class="details-actions">
                    <div class="progress" style="display: inline-block; width: 120px;">
                        <div class="indeterminate"></div>
                    </div>
                    <!-- <a class="btn btn-white waves-effect left-margin-14">SHARE</a> -->
                    <a ng-show="dapp.git" href="{{dapp.githublink}}" target="_blank" class="btn btn-white waves-effect pull-right source">
                        <translate>SOURCE CODE</translate>
                    </a>
                </div>
                <div ng-show="installed" class="details-actions">
                    <div>
                        <a class="btn btn-white waves-effect waves-light" ng-click="uninstallDapp()">
                            <i class="mdi-action-delete left"></i>
                            <span>
                                <translate>UNINSTALL</translate>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="subtitle-container">
                    <div class="document-subtitle large-subtitle">
                        <translate>Category:</translate>
                    </div>
                    <a class="document-subtitle primary" ui-sref='main.dappsCategory({categoryId:getCategoryName(dapp.category)})'>
                        <span>{{getCategoryName(dapp.category)}}</span>
                    </a>
                </div>
                <div class="details-info-divider"></div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix" ng-show="dapp.description">
    <div class="col-xs-12">
        <div class="dapp-info clearfix">
            <div class="description">
                <h1 class="heading">{{'Description'|translate}}</h1>
                <div class="text-body" ng-class="{'expanded': showMore}">
                    <p>{{dapp.description | cut:true:100:' ...':!showMore}}</p>
                </div>
                <div class="show-more clearfix" ng-if="!showMore">
                    <a ng-show="dapp.description.length > 100" class="btn btn-white" ng-click="changeShowMore()">
                        <translate>READ MORE</translate>
                    </a>
                </div>
                <div class="text-body expanded">
                    <span class="badge tag-badge" ng-repeat="tag in getTags() track by $index">{{tag}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix margin"></div>