<div class="row clearfix" ng-repeat-start="cat in dapps | groupBy: 'category'">
    <div class="col-xs-12">
        <div class="panel  panel-default no-margin-bottom" ui-sref='main.dappsCategory({categoryId:"{{getCategoryName(cat[0].category)}}"})'>
            <div class="panel-heading cursor">
                <h2>{{getCategoryName(cat[0].category)}} {{searchedText}}</h2>
                <div class="more">
                    <span class="sr-only">
                        <translate>More</translate>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div ng-repeat="dapp in cat | limitTo: 6" class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix cursor">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align">
                            <img ng-if="!dapp.icon" class="cover-image" src="images/dappIcon.png">
                            <img ng-if="dapp.icon" class="cover-image" ng-src="{{dapp.icon}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2>
                    <span class="title" href="#">{{dapp.name}}</span>
                </h2>
            </div>
            <a ng-if="dapp.type==1" class="target-link" target-blank ng-href="{{dapp.link}}"></a>
            <a ng-if="dapp.type!=1" class="target-link" href="#" ui-sref='main.dappentry({"dappId":"{{dapp.transactionId}}"})'></a>
        </div>
    </div>
</div>
<div class="row clearfix margin" ng-repeat-end></div>
<div class="row clearfix">
    <div class="col-xs-12">
        <div class="panel panel-default no-margin-bottom" ui-sref='main.dappsCategory({categoryId:"Installed"})' eat-click-if="!installedDapps.length">
            <div class="panel-heading" ng-class="{'cursor': installedDapps.length}">
                <h2>{{'Installed Applications'|translate}} {{searchedInstalledText}}</h2>
                <div class="more">
                    <span class="sr-only">
                        <translate>More</translate>
                    </span>
                </div>
            </div>
            <div ng-if="!installedDapps.length" class="panel-body empty-body ng-scope">
                <div class="logo-grey"></div>
                <p class="empty-state-text">{{'You do not have any applications installed yet.'|translate}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div ng-repeat="dapp in installedDapps | limitTo: 6" class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix cursor">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align">
                            <img ng-if="!dapp.icon" class="cover-image" src="images/dappIcon.png">
                            <img ng-if="dapp.icon" class="cover-image" ng-src="{{dapp.icon}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2>
                    <span class="title" href="#">{{dapp.name}}</span>
                </h2>
            </div>
            <a ng-if="dapp.type==1" class="target-link" target-blank ng-href="{{dapp.link}}"></a>
            <a ng-if="dapp.type!=1" class="target-link" href="#" ui-sref='main.dappentry({"dappId":"{{dapp.transactionId}}"})'></a>
        </div>
    </div>
</div>
<div class="row clearfix margin"></div>
<div class="fixed-action-btn hide-in-small" style="bottom: 45px; right: 24px;">
    <a id="addDapp" class="btn-floating btn-large blue" ng-click="addNewDapp()">
        <i class="large material-icons">add</i>
    </a>
</div>