<div class="row clearfix" ng-if="!dapps.length && !inLoading">
    <div class="col-xs-12">
        <div class="panel  panel-default no-margin-bottom">
            <div class="panel-body empty-body ng-scope">
                <div class="logo-grey"></div>
                <p ng-if="!searchedTextString.length" class="empty-state-text">{{'No applications matching your search criteria were found.'|translate}}</translate>
                </p>
                <p ng-if="!!searchedTextString.length" class="empty-state-text">{{'No applications matching your search criteria were found.'|translate}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix" ng-repeat-start="cat in dapps | groupBy: 'category'">
    <div class="col-xs-12">
        <div class="panel  panel-default no-margin-bottom">
            <div class="panel-heading">
                <h2>{{getCategoryName(cat[0].category)}} {{searchedText}}</h2>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div ng-repeat="dapp in cat" class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
        <div class="dapp-content small-dapp clearfix cursor">
            <div class="cover">
                <div class="cover-image-container">
                    <div class="cover-outer-align">
                        <div class="cover-inner-align">
                            <img ng-if="!dapp.icon" class="cover-image" src="images/dappIcon.png">
                            <img ng-if="dapp.icon" class="cover-image" ng-src="{{dapp.icon}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="details">
                <h2>
                    <span class="title" href="#">{{dapp.name}}</span>
                </h2>
            </div>
            <a ng-if="dapp.type==1" class="target-link" target-blank ng-href="{{dapp.link}}"></a>
            <a ng-if="dapp.type!=1" class="target-link" href="#" ui-sref='main.dappentry({"dappId":"{{dapp.transactionId}}"})'></a>
        </div>
    </div>
</div>
<div class="row clearfix margin" ng-repeat-end></div>