<div id="pass">
    <div class="app-modal valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-modal">
                        <div class="card-content">
                            <div class="material-modal-content">
                                <div class="modal-header modal-iconed">
                                    <span class="modal-log">Page Not Found!</span>
                                </div>
                                <div class="modal-header clearfix">
                                    <div>
                                        <h2>
                                            <translate>The page you are requesting does not exist.</translate>
                                        </h2>
                                    </div>
                                </div>
                                <div class="modal-body bordered ">
                                    <span class="send-info-text">
                                        <translate>Please recheck the link address.</translate>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>