<div id="pass">
    <div class="overlay"></div>
    <div class="pass-bottom">
        <div class="login-card card-block auth-body mr-auto ml-auto">
            <div class="text-center logo-wrapper">
                <img src="../images/logo.png" alt="DDKOIN" width="250">
            </div>
            <div class="auth-box">
                <div class="row m-b-20">
                    <div class="col-md-12"><h3 class="text-left txt-primary">Sign In</h3></div>
                </div>
                <hr/>
                <form class="clearfix" _lpchecked="1" ng-submit="login(pass, rememberPassphrase)">
                    <div class="input-field">
                        <input id="password" type="password" ng-model="pass" ng-trim="false" class="form-control" autofocus>
                        <label for="password">
                            <translate>Your Passphrase</translate>
                        </label>
                        <span class="pass-error" ng-show="errorMessage">{{errorMessage}}</span>
                    </div>
                    <div class="input-field">
                        <div ng-include="'partials/shared/language-selector.html'"></div>
                    </div>
                    <!-- <div class="buttons-panel row"> -->
                    <div class="row auth-btn">
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-block" ui-sref="existingETPSUser">
                                <translate>ETPS User</translate>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-block" ng-click="newUser()">
                                <translate>New Account</translate>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-primary waves-light btn-block" ng-click="login(pass, rememberPassphrase)" ng-disabled="!pass">
                                <translate>Sign In</translate>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="pass-footer clearfix">DDKOIN Web Wallet © 2016 - 2028. All Rights Reserved.</div>
    </div>
</div>