<div class="top-margin"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default airdrop-balance">
            <div class="panel-heading pr">
                <h2>{{'Airdrop Balance'|translate}}</h2>
                <!-- <div class="plain-text">
                    <a class="white-text text-decoration-N verify" href="https://explorertestnet.ddkoin.com/#/user-info/DDK10720340277000928808"
                        target="_blank">{{'Verify in Explorer'|translate}}</a>
                </div> -->
            </div>
            <div class="airdrop-container">
                <div class="pieChart-values">
                    <span>
                        <span style="background-color:rgba(2, 136, 209, 1);width: 20px;height: 20px;display: inline-block;position: absolute;left: -30px;top: 6px;border-radius: 4px;/* border: #c0bebe 1px solid; *//* padding: 1px; */"></span>
                        <h3>Consume Value :</h3>{{consumeValue}}
                    </span>
                    <span>
                        <span style="background-color: rgb(192, 190, 190);width: 20px;height: 20px;display: inline-block;position: absolute;left: -30px;top: 6px;border-radius: 4px;"></span>
                        <h3>Available Value :</h3> {{avlaibleValue}}
                    </span>
                </div>
                <canvas id="pie32" options="options" class="chart chart-pie chart-xs ng-isolate-scope" height="120"
                    width="240" data="airdropData.data" labels="airdropData.labels" colours="airdropData.colours"
                    legend="true"></canvas>
            </div>
        </div>

        <div class="referral-tab">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#1" data-toggle="tab">Referrals List</a>

                </li>
                <li>
                    <a href="#2" data-toggle="tab">Reward History</a>
                </li>
            </ul>

            <div class="tab-content panel panel-default">
                <h1>{{expanded}}</h1>
                <div class="tab-pane active" id="1">

                    <div class="btn-toolbar buttonColor" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2 " role="group" aria-label="First group">
                            <button type="button" class="btn btn-secondary disabled">Level</button>
                            <!-- <input class="form-control" type="text" placeholder="Level" readonly> -->
                            <button type="button" class="btn btn-secondary buttonColor" ng-class= "{'active':(levelInfo==1)}" ng-click="referralLevel(1)">1</button>
                            <button type="button" class="btn btn-secondary buttonColor " ng-click="referralLevel(2)">2</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(3)">3</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(4)">4</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(5)">5</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(6)">6</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(7)">7</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(8)">8</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(9)">9</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(10)">10</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(11)">11</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(12)">12</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(13)">13</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(14)">14</button>
                            <button type="button" class="btn btn-secondary buttonColor" ng-click="referralLevel(15)">15</button>
                        </div>
                    </div>
                    <!---------------------------------Working----------------------------------->
                    <div class="panel-default custom-panel-default" ng-class="{'paginated': referralList || !searchBlocks.searchForBlock}">
                        <table ng-show="referralList  || !searchBlocks.searchForBlock" ng-table="tableReferral" border="0"
                            width="100%" cellpadding="0" cellspacing="0" template-pagination="custom/pager">
                            <tr ng-repeat="referral in $data">
                                <td data-title="tableReferral.cols.sponsorAddress" sortable="'sponsorAddress'">{{referral.address}}</td>
                                <td data-title="tableReferral.cols.stakeStatus" sortable="'stakeStatus'">{{referral.stakestatus
                                    ? 'Active' :'Inactive'}}</td>
                                <td data-title="tableReferral.cols.totalfreezamount" sortable="'totalfreezamount'">{{referral.freezedamount/100000000}}</td>


                            </tr>
                            <tr ng-show="!loading && (!$data || $data.length == 0) && !searchBlocks.searchForBlock">
                                <td colspan="5">
                                    <translate>No Referral</translate>
                                </td>
                            </tr>
                            <tr ng-show="loading">
                                <td class="gray2 white-text" colspan="8">
                                    <translate>Loading...</translate>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!---------------------------------------------End----------------------------->
                <div class="tab-pane" id="2">
                    <div class="panel-default custom-panel-default" ng-class="{'paginated': rewardList || !searchBlocks.searchForBlock}">
                        <table ng-show="rewardList  || !searchBlocks.searchForBlock" ng-table="tableRewards" border="0"
                            width="100%" cellpadding="0" cellspacing="0" template-pagination="custom/pager">
                            <tr ng-repeat="referral in $data">
                                <td data-title="tableRewards.cols.sponsorAddress" sortable="'sponsorAddress'">{{referral.sponsor_address}}</td>
                                <td data-title="tableRewards.cols.reward" sortable="'reward'">{{referral.reward/100000000}}</td>
                                <td data-title="tableRewards.cols.sponsorLevel" sortable="'sponsorLevel'">{{referral.sponsor_level}}</td>
                                <td data-title="tableRewards.cols.transactionType" sortable="'transactionType'">{{referral.transaction_type}}</td>
                                <td data-title="tableRewards.cols.rewardTime" sortable="'rewardTime'">{{referral.reward_time
                                    | timeAgoFilter : showFullTime}}</td>
                            </tr>
                            <tr ng-show="!loading && (!$data || $data.length == 0) && !searchBlocks.searchForBlock">
                                <td colspan="5">
                                    <translate>No Rewards</translate>
                                </td>
                            </tr>
                            <tr ng-show="loading">
                                <td class="gray2 white-text" colspan="8">
                                    <translate>Loading...</translate>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>