<div class="top-margin"></div>
<div class="row">
    <!-- For Translate Section -->
    <div class="col-xs-12">
        <div class="panel-default custom-panel-default settings-panel">
            <div class="panel-heading">
                <h2>{{'General'|translate}}</h2>
            </div>
            <div class="panel-body settings-language">
                <div ng-include="'partials/shared/language-selector.html'"></div>
                <div class="top-margin-40" ng-show="multisignaturesEnabled">
                    <h4>{{'Multi-Signature'|translate}}</h4>
                    <div class="row">
                        <div class="col s2">
                            <div class="switch blue-switch">
                                <label>
                                    <input type="checkbox" ng-disabled="settings.enabledMultisign" ng-model="settings.enabledMultisign" ng-click="setMultisignature()">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col s10">
                            <p ng-if="!settings.enabledMultisign" translate>Multi-Signature is Disabled</p>
                            <p ng-if="settings.enabledMultisign" translate>Multi-Signature is Enabled</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Translate Section -->

    <!-- For Google Authentication Enable Section -->
    <div class="col-xs-12" ng-show="enable">
        <div class="panel-default custom-panel-default settings-panel">
            <div class="panel-heading">
                <h2>{{'Google Authentication'|translate}}</h2>
            </div>
            <div class="panel-body">
                <div class="google-auth-info">
                    <div class="auth-icon">
                        <img src="images/teaser.png" width="30px">
                    </div>
                    <div class="auth-tex lh18">
                        <span class="fw500">Google Auth</span>
                        <br> Use for withdrawals and security modification.
                    </div>
                    <div class="btn-enable text-right">
                        <a class="btn btn-blue-nav waves-effect waves-light l-height-n" ng-click="showDiv(true)">
                            <translate>Enable</translate>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Google Authentication Enable Section -->



    <!-- For Google Authentication Enable Section -->
    <div class="col-xs-12" ng-if="disable">
        <div class="panel-default custom-panel-default settings-panel">
            <div class="panel-heading">
                <h2>{{'Google Authentication'|translate}}</h2>
            </div>
            <div class="panel-body">


                <div class="google-auth-info">
                    <div class="auth-icon">
                        <img src="images/teaser.png" width="30px">
                    </div>
                    <div class="auth-tex lh18">
                        <span class="fw500">Google Auth</span>
                        <br> Use for withdrawals and security modification.
                    </div>
                    <div class="btn-enable text-right">
                        <a class="btn btn-white waves-effect margin-left-10 l-height-n" ng-click="disableTwoFactor()">
                            <translate>Disable</translate>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Google Authentication Enable Section -->

    <!-- For Google Authentication -->
    <div class="col-md-12 google-authentication-container" ng-if="myVar">
        <div class="content main-google-auth-section panel-default custom-panel-default">
            <form class="form-horizontal">
                <ul class="nav nav-tabs">
                    <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex()}">
                        <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
                    </li>
                </ul>
                <div ng-switch on="selection" class="main-form-section">
                    <!-- First Step -->
                    <div ng-switch-when="Step 1: Download App" class="comm-tab-wrapper">
                            <div class="comm-tab-container">
                                <h1>Download and install google Authication APP</h1>
                                <a href="#" class="down-app-store down-load-img"></a>
                                <a href="#" class="down-google-play down-load-img"></a>
                            </div>
                    </div>
                    <!-- Second Step -->
                    <div ng-switch-when="Step 2: Scan QR Code" class="comm-tab-wrapper">
                        <div class="comm-tab-container row">
                            <img src="{{ dataUrl }}" alt="dataUrl" class="img-thumbnail">
                            <div class="clearfix"></div>
                            <div class="col-md-4 col-md-offset-4">
                                <input class="form-control mb10" type="text" value="Enter QR Code" ng-model="settings.otp" name="qrCode">
                                <p class="error-container" ng-show="errorMessage.fromServer">
                                    <span class="pass-error">{{errorMessage.fromServer}}</span>
                                </p>
                                <p class="error-container" ng-show="errorMessage.otp">
                                    <span class="pass-error">{{errorMessage.otp}}</span>
                                </p>
                                <p class="text-center">Use Google Authentication APP to scen this QR Code.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Third Step backup-key-->
                    <div ng-switch-when="Step 3: Backup Key" class="comm-tab-wrapper">
                        <div class="comm-tab-container">
                                <p class="qr-code-key text-center">{{ twoFactorKey }}</p>
                                <p class="text-center">
                                    Plase save this key on paper. This key will allow you to recover Google Authentication in case of phone loss.
                                </p>
                                <p class="text-warning text-center">
                                    Resetting you Google Authentication requies opening a support ticket and take at least 7 day to process.
                                </p>
                        </div>
                    </div>
                    <!-- Four Step -->
                    <div ng-switch-when="Step 4: Enable Google Authentication" class="enble-googleAuth comm-tab-wrapper">
                        <div class="alert alert-success" ng-show="successMessage.nextStep">{{ successMessage.nextStep }}</div>
                        <div class="comm-tab-container">
                            <form class="m-t-35" form-horizontal ng-submit="enableTwoFactor(twoFactor)">
                                <div class="col-md-4">
                                    <div class="input-field">
                                        <input class="form-control mb10" id="key" type="text" ng-model="settings.twoFactor.key">
                                        <label for="key">
                                            <translate>key</translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-field">
                                        <input class="form-control mb10" id="yourPassphrase" type="text" ng-model="settings.twoFactor.secret">
                                        <label for="yourPassphrase">
                                            <translate>Your Passphrase</translate>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-field">
                                        <input class="form-control mb10" id="faCode" type="text" ng-model="settings.twoFactor.otp">
                                        <label for="faCode">
                                            <translate>2FA Code</translate>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <ul class="pager col-md-12">
                    <li class="pull-left" ng-class="{disabled: !hasPreviousStep()}">
                        <a href="javascript:void(0);" ng-click="decrementStep()" class="btn btn-white waves-effect">Previous</a>
                    </li>
                    <li class="pull-right" ng-class="{disabled: !hasNextStep()}">
                        <!-- <a href="javascript:void(0);" ng-click="incrementStep()">Next Step &rarr;</a> -->
                        <a ng-click="validateStep()" class="btn btn-blue-nav waves-effect waves-light l-height-n">Next</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </form>
        </div>
        <!--End Google Authentication -->
    </div>




</div>
